body{
     margin: 0;
     padding: 0;
}
ul{ 
      display: flex;
      margin: 0;
     padding: 25px 0;
     color: white;
     background-color: gray;

}
ul li{
     margin:0 23px;
     list-style: none;


}